body {
    background-color: #56a0d4;

    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;

    margin-left: 36%;
    margin-right: 36%;
}

ol {
    color: black;
    text-align: left;
    li {
        margin-bottom: 10px;
    }
}

img {
    width: 180px;
}

.title {
    width: fit-content;
    margin-bottom: 20px;
    
    margin-left: 31.5%;
    margin-right: 31.5%;
}
.title:hover {
    color: black;
}

.quote {
    font-family:'Times New Roman', Times, serif;
}

.credit {
    color: black;
    font-weight: normal;

    padding-left: 60px;
    padding-right: 60px
}