* {
    border: 2px solid red;
}

body {
    background-color: #56a0d4;
}

main {
    max-width: 600px;

    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;

    margin-left: 36%;
    margin-right: 36%;

    /* display: block;
    margin: 0 auto; */
}

/* p {
    text-align: center;

    margin: 5px
} */

ol {
    padding-inline-start: 20px;
    color: black;
    text-align: left;
    li {
        margin-bottom: 10px;
    }
}

img {
    width: 40%;
}

.title {
    width: fit-content;
    margin-bottom: 20px;
    
    margin-left: 31.5%;
    margin-right: 31.5%;
}

.title:hover {
    color: black;
}

.quote {
    font-family:'Times New Roman', Times, serif;
}

.credit {
    color: black;
    font-weight: normal;

    padding-left: 60px;
    padding-right: 60px
}